<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jojoIM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB15C31B1DD0794A00550489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB15C3341DD0794B00550489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB15C33F1DD0794B00550489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
